@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

button {
	font-family: 'Lexend Deca';
	font-size: 20px;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 5px;
	outline: none;
}